.portfolioInnrePage_parent_div {
  margin-top: 100px;
  margin-bottom: 100px;
}
.portfolioInnerPage_grid_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  margin: auto;
  gap: 20px;
}
.portfolioInnerPage_grid_div div {
  background-color: rgb(179, 179, 179);
  padding: 20px;
}
.portfolioInnerPage_grid_div div img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
