.secondSection_text_div {
  width: 60%;
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 100px;
  margin-bottom: 250px;
}
.player_div {
  background-color: black;
}

.player_img_div {
  position: relative;
}
.playerPhoto {
  width: 95%;
  height: 500px;
  object-fit: cover;
  margin-top: -150px;
  filter: brightness(0.8);
}
.faCirclePlay {
  color: white;
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 30%;
  cursor: pointer;
}
.watch_promo {
  color: white;
  font-size: 30px;
  position: absolute;
  left: 46%;
  top: 55%;
}

@media screen and (max-width: 1536px) {
  .secondSection_text_div {
    width: 75%;
  }
  .secondSection_text_div h1 {
    margin-bottom: -60px;
  }
}
@media screen and (max-width: 1360px) {
  .secondSection_parent_div {
    margin-top: -20px;
  }
}
@media screen and (max-width: 1200px) {
  .secondSection_text_div {
    width: 85%;
  }

  .watch_promo {
    left: 44%;
  }
}
@media screen and (max-width: 750px) {
  .watch_promo {
    left: 42%;
  }
}
@media screen and (max-width: 600px) {
  .secondSection_text_div h1 {
    font-size: 22px;
    margin-bottom: -85px;
  }
  .faCirclePlay {
    left: 45%;
  }
  .watch_promo {
    left: 34%;
  }
}
@media screen and (max-width: 450px) {
  .faCirclePlay {
    left: 44%;
  }
  .watch_promo {
    left: 30%;
  }
}
@media screen and (max-width: 414px) {
  .secondSection_text_div {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .faCirclePlay {
    left: 42%;
  }
  .watch_promo {
    left: 24%;
  }
}
