.secondSection_text_div {
  width: 60%;
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 100px;
  margin-bottom: 250px;
}

.player_div {
  background-color: black;
}

.player_img_div {
  position: relative;
}

.playerPhoto {
  width: 95%;
  height: 500px;
  object-fit: cover;
  margin-top: -150px;
  filter: brightness(0.8);
}

/* TEXT CENTER ON IMAGE */

.text_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top_quality {
  color: white;
  font-size: 32px;
  text-align: center;
}

/* RESPONSIVE */

@media screen and (max-width: 1536px) {
  .secondSection_text_div {
    width: 75%;
  }
}

@media screen and (max-width: 1200px) {
  .secondSection_text_div {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .top_quality {
    font-size: 22px;
  }
}

@media screen and (max-width: 414px) {
  .secondSection_text_div {
    width: 100%;
  }
}
