.portfolio_main_div {
  width: 60%;
  margin: auto;
}
.portfolio_img {
  width: 85%;
  height: 450px;
  /* object-fit: cover; */
  cursor: pointer;
  background-color: black;
  padding: 2px;
}
.portfolio_another_main_div {
  width: 85%;
  margin: auto;
}
.portfolio_another_main_div div {
  width: 98%;
}
.portfolio_img_another {
  width: 100%;
  height: 450px;

  cursor: pointer;
  background-color: black;
  padding: 2px;
  object-fit: cover;
}
